<div id="until2d"></div>
<div class="row">
 
    <div class="large-3 panel columns">
      <%= image_tag("wfc120.png", height: 600, width: 500) %>
      <hr> 
      <h4>Services Times</h4><hr>
 
      <p>
        <strong>Sundays</strong><br>
        9:30AM <br>
        <strong>Wednesdays</strong><br>
        7:00PM <br>
        <strong>Night Vigil</strong><br> 
        First Fridays <br>
        10:00PM - MIDNIGHT 
      </p><hr>
 
      <div class="row">
        <div class="large-4 columns">
        
        <a href="#" data-reveal-id="firstModal" class="button [secondary success alert radius round]">Upcoming Events</a>
        <div id="firstModal" class="reveal-modal" data-reveal>
          <h1>Join us of our inaugural service</h1>
          <%= image_tag("wfcinaguration.jpg") %>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        </div>
      </div>
      <hr>
      <div>
        <p>
        	Join our mailing list to recieve newsletters and information
        	about upcoming events.
        </p><br>
        <form>
            <input type="text" class="search-field" placeholder="Subscribe with email">
        </form>
      </div>
    </div>
 
    <div class="large-9 columns">
      <div class="panel">
        <div class="row">
 			<div id="featured" data-orbit> 
 			    <%= image_tag("wfcinaguration.jpg") %>
       			<%= image_tag("wfc122.jpg") %>
       			<%= image_tag("wfc101.png") %>
       			<%= image_tag("wfc103.png") %>
       			<%= image_tag("wfc108.png") %>
       			<%= image_tag("wfc124.jpg") %>
       			<%= image_tag("wfc119.png") %>
    		</div>
        </div>
      </div>
      
      <form>
              <div class="row collapse">
 
                <div class="large-10 small-8 columns">
                  <input type="text"/>
                </div>
 
                <div class="large-2 small-3 columns">
                  <a href="#" class="postfix button expand">Search</a>
                </div>
 
              </div>
      </form>
 
      <div class="row">
        <div class="large-6 columns">
          <div class="panel">
            <h5>Sermon Library</h5>
            <p>Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <a href="#" class="small button [secondary success alert radius round]">Explore Library</a>
          </div>
        </div>
 
        <div class="large-6 columns">
          <div class="panel">
            <h5>Latest Testimonies</h5>
            <p>Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <a href="#" class="small button [secondary success alert radius round]">More Testimonies</a>
          </div>
        </div>
      </div>
    </div>
 
  </div>