<div id="until2d"></div>
<div class="row">
 
    <div class="large-3 panel columns">
      <%= image_tag("wfc125.jpg", height: 600, width: 500) %>
      <hr> 
      <h5>Services Times</h5><hr>
 
      <p>
        <strong>Celebration Service</strong><br>
        Sundays <i>9:30 - 11:00AM</i> <br>
        <strong>Midweek Service</strong><br>
        Wednesdays <i>7:00 - 8:30PM</i> <br>
        <strong>Prayer Meeting</strong><br>
        Sundays <i>8:45 - 9:15AM</i><br>
        <strong>Night Vigil</strong><br> 
        First Fridays <i>10:00PM - MIDNIGHT</i> 
      </p>
 
      <div class="row">
        <div class="large-4 columns">
        
        <a href="#" data-reveal-id="firstModal" class="button [secondary success alert radius round]">Upcoming Events</a>
        <div id="firstModal" class="reveal-modal" data-reveal>
          <h1><small>Word Focus Chapel Inaugural service Sept. 12, 2014 </small></h1>
          <%= image_tag("wfcinaguration.jpg") %>
          <a class="close-reveal-modal">&#215;</a>
        </div>
        </div>
      </div>
      <hr>
      <div>
        <p>
        	Join our mailing list to recieve newsletters and information
        	about upcoming events.
        </p><br>
        <form>
            <input type="text" class="search-field" placeholder="Subscribe with email">
        </form>
      </div>
      <div>
      	<h5>Location</h5>
      	<hr>
      	<p>
      	  <ul>
      	    <li class="fn">Word Focus Chapel</li>
      	    <li class="street-address">13 C Street, Suite A</li>
      	    <li class="locality">Laurel</li>
      	    <li><span class="state">Maryland</span>, <span class="zip">20707</span></li>
      	  </ul>
      	</p>
      	
      </div>
    </div>
 
    <div class="large-9 columns">
      <div class="panel">
        <div class="row">
 			<div id="featured" data-orbit data-options="bullets:false; animation:fade; slide_number:false; timer:true; timer_speed: 2500;"> 
 			    <%= image_tag("wfcinaguration.jpg") %>
       			<%= image_tag("wfc122.jpg") %>
       			<%= image_tag("wfc101.png") %>
       			<%= image_tag("wfc120.png") %>
       			<%= image_tag("wfc103.png") %>
       			<%= image_tag("wfc108.png") %>
       			<%= image_tag("wfc124.jpg") %>
       			<%= image_tag("wfc119.png") %>
    		</div>
        </div>
      </div>
      <% admins_only do %>
      <form>
              <div class="row collapse">
 
                <div class="large-10 small-8 columns">
                  <input type="text"/>
                </div>
 
                <div class="large-2 small-3 columns">
                  <a href="#" class="postfix button expand">Search</a>
                </div>
 
              </div>
      </form>
 	 <% end %>
      <div class="row">
        <div class="large-6 columns">
          <div class="panel">
            <h5>Sermon Library</h5>
            <p>Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <a href="#" class="small button [secondary success alert radius round]">Explore Library</a>
          </div>
        </div>
 
        <div class="large-6 columns">
          <div class="panel">
            <h5>Latest Testimonies</h5>
            <p>Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros.</p>
            <a href="#" class="small button [secondary success alert radius round]">More Testimonies</a>
          </div>
        </div>
      </div>
    </div>
 
  </div>