<!-- footer -->
<footer>
  <div class="row">
    <div class="large-12 columns">
	  <%= image_tag("WFC Final logo Colored Transparent-01.png", height: 100, width: 250) %>
    </div>
  </div>
  <div class="row"> 
    <div class="large-2 columns">
      <ul>
        <% admins_only do %>
        <li><strong><% link_to "Watch Live", '#' %></strong><hr></li>
        <% end %>
      </ul>
    </div>
    <div class="large-2 columns">
      <ul>
        <li><strong><% link_to "Events", root_path %></strong><hr></li>
        <li><% link_to "Service Times", root_path %></li>
        <li><% link_to "Upcoming Events", root_path %></li>
      </ul>
    </div>
    <div class="large-2 columns">
      <ul>
        <li><strong><% link_to "About", root_path %></strong><hr></li>
        <li><% link_to "Vision", root_path %></li>
        <li><% link_to "Leadership", root_path %></li>
      </ul>
    </div>
    <div class="large-2 columns">
      <ul>
        <li><strong><%= link_to "Contact", root_path %></strong><hr></li>
        <li><a href="http://facebook.com/wordfocuschapel"><i class="fa fa-facebook fa-lg"></i>
          like our page</a></li>
        <li><a href="http://twitter.com/wordfocuschapel"><i class="fa fa-twitter fa-lg"></i>
         follow us</a></li>
        <li></li>
        <% admins_only do %>
        <li><%= link_to "Admin", root_path %></li>
		<li><%= link_to "New User", root_path  %></li>
		<% end %>
      </ul>
    </div>
    <% admins_only do %>
    <div class="large-2 columns">
      <ul>
        <li><strong><%= link_to "Ministries", '#' %></strong><hr></li>
        <li><%= link_to "Pastor Bolaji", '#'  %></li>
        <li><%= link_to "Church Office", '#' %></li>
        <li><%= link_to "General Inquiries", '#' %></li>
        <li><%= link_to "Helpline", '#' %></li>
      </ul>
    </div>
    <div class="large-2 columns">
      <ul>
        <li><strong><%= link_to "Resources", '#' %></strong><hr></li>
        <li><%= link_to "Sermon Library", '#' %></li>
		<li><%= link_to "Scriptures on Topics", root_path %></li>
		<li><%= link_to "Pastors Notes", '#' %></li>
		<li><%= link_to "Devotionals", '#' %></li>
		<li><%= link_to "Prayers", '#' %></li>
		<li><%= link_to "Latest Testimonies", '#' %></li>
      </ul>
    </div>
    <% end %>
    
  </div>
  <div class="row contactfooter">
	  <div class="large-4 columns">
	    © Copyright <%= Date.today.year %> WORD FOCUS CHAPEL 
	  </div>
	  <div class="large-8 columns" align="right">
	   13 C Street, Suite A, Laurel, MD 20707 | wordfocuschapel@gmail.com | (301) 256-4760
	  </div>
	</div>
  </div>
</footer>

