<!-- header -->
<header>
 	<div>
 	 	
 	</div>
    <div class="large-12">
    <ul class="title-area" style="list-style: none;">  
      <li class="name">
        
          <!-- logo -->
          <%= link_to image_tag("WFC Final logo-01.png", height: 100, width: 250), root_path %>
        
      </li>
      
    </ul>
    </div> 
    <nav class="top-bar sticky center" data-topbar>
    <section class="middle tab-bar-section top-bar-section">
      <ul class="right">      
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        <!-- input fields -->
        <li class="has-form">
    	<div class="row collapse">
    	
      	
      	  <div">
        	<form>
      			<input type="text" class="search-field" placeholder="Scriptures on Topics">
      		</form>
      	  </div>
    	</div>  
    	</li>
    	<li class="divider"></li>
        <!-- quick links -->
        <li><%= link_to "Watch Live", '#' %></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <%= link_to "Events", '#' %>
          <ul class="dropdown">
            <li><%= link_to "Service Times", events_demopages_path %></li>
            <li><%= link_to "Upcoming Events", events_demopages_path %></li>
          </ul>
          <li>
        <li class="divider"></li>
        <!-- dropdown links -->
        <li class="has-dropdown">
          <%= link_to "About", '#' %>
          <ul class="dropdown">
            <li><%= link_to "Overview", '#' %></li>
            <li class="divider"></li>
            <li><label>Ministry</label></li>
            <li><%= link_to "History", '#' %></li>
            <li><%= link_to "Mission and Vision", '#' %></li>
            <li><%= link_to "Core Values and Beliefs", '#' %></li>
            <li class="divider"></li>
            <li><label>Leadership</label></li>
            <li><%= link_to "Senior Pastors", '#' %></li>
            <li><%= link_to "Board of Directors", '#' %></li>
            <li><%= link_to "Accountability Board", '#' %></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <%= link_to "Resources", '#' %>
          <ul class="dropdown">
		  	<li><%= link_to "Sermon Library", '#' %></li>
		  	<li><%= link_to "Scriptures on Topics", topics_path %></li>
		  	<li><%= link_to "Pastors Notes", '#' %></li>
		  	<li><%= link_to "Devotionals", '#' %></li>
		  	<li><%= link_to "Prayers", '#' %></li>
		  	<li><%= link_to "Latest Testimonies", '#' %></li>
          </ul>  
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Donate", '#' %>
        
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "Contact", '#' %>
        
        </li>
        <li class="divider"></li>
      </ul>    
    </section>
  </nav> 
</header>  